<div class="row" style="height: 90vh;">
    <div class="col-md-3 py-1" style="border:1px solid silver">
        <ul class="list-group">
            
        </ul>
    </div>
    <div class="col-md-9">
        <div class="d-flex flex-column justify-content-between">
            <div style="height: 85vh;">
            </div>
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control" id="message" placeholder="Enter message" name="message">
                <button class="btn btn-success">Send</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .configureLogging(signalR.LogLevel.Information)
            .build();
        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };
        connection.onclose(async () => {
            await start();
        });
        start();

        connection.on("newUser",function(data){
            $('.list-group').html(
                data.map(x=> `<li class="list-group-item bg-success text-white"><img src="${x.image}" width="60px">${x.name}</li>`)
            )
            console.log(data);
        })
    </script>
}