<form>
    <div class="form-group">
        <label for="group">Room code</label>
        <input type="text" class="form-control" id="group" placeholder="Enter room code" name="group">
    </div>
    <button type="submit" class="btn btn-success mt-1">Submit</button>
</form>
