<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="group">Room code</label>
        <input type="text" class="form-control" id="room" placeholder="Enter room code" name="room">
    </div>
    <button type="submit" class="btn btn-success mt-1">Submit</button>
</form>
